body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #f7f3f7;
}

/* شريط التنقل */
nav {
  background: #ff6699;
  padding: 15px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

nav a:hover {
  opacity: 0.7;
}

/* المحتوى */
.container {
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 40px;
}

/* الصورة الدائرية */
.circle-photo {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #ff6699;
  margin-top: 20px;
}